# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# Virtualenv
.venv/

# Distribution / packaging
*.egg-info/

# CDK
cdk.out/
.cdk.staging

# Editors & OS
.vscode/
*.swp
.DS_Store
Thumbs.db

# Node (for extension)
node_modules/
package-lock.json
